[tool.poetry]
name = "python_tsp"
version = "0.2.1"
description = "Simple library to solve the Traveling Salesperson Problem in pure Python."
readme = "README_pypi.rst"
authors = ["Fillipe Goulart <fillipe.gsm@tutanota.com>"]
repository = "https://github.com/fillipe-gsm/python-tsp"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
numpy = "^1.18.5"
tsplib95 = "^0.7.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
sphinx = "^3.1.1"
ipdb = "^0.13.2"
mypy = "^0.782"
autopep8 = "^1.5.3"
flake8 = "^3.8.3"
pytest-cov = "^2.10.1"
jedi = "<0.18"

[tool.autopep8]
max_line_length = 79

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
